body{
    background-image: url('https://tse2.mm.bing.net/th/id/OIP.9UL5TwIJP5-EBV-5MhRvFwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f6f8fa;
}